/Java Básico/PrimeiroPrograma/nbproject/private/
/Java Básico/PrimeiroPrograma/build/
/Java Básico/HoraDoSistema/nbproject/private/
/Java Básico/HoraDoSistema/build/
/Java Básico/Desafios-Exercicios/JavaApplication4/nbproject/private/
/Java Básico/Desafios-Exercicios/ResolucaoSistema/nbproject/private/
/Java Básico/Desafios-Exercicios/ResolucaoSistema/build/
/Java Básico/Desafios-Exercicios/IdiomaSistema/nbproject/private/
/Java Básico/Desafios-Exercicios/IdiomaSistema/build/
